.youtube-video {
  width: 300px;
  height: 200px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.youtube-video__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.youtube-video__play {
  position: absolute;
  width: 45px;
  height: 45px;
  background: rgba(255, 0, 0, 0.9);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.youtube-video__play-icon {
  font-size: 20px;
  color: #fff;
}
